/* Fonts settings */

body,
p,
.navbar,
.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-weight: 600;
}


/* Common Styles */

.title {
  color: #111111;
}

.bg-gradient {
  /*background: linear-gradient(270deg, #f7395f 0%, #fe702e 100%); }*/
  background: #000;
}

a {
  text-decoration: none;
}

.no-decor {
  text-decoration: none;
}


/* Header Section */

.aa-header {
  background: #181818;
  position: relative;
  background-size: cover;
  min-height: 600px;
}

.aa-header .navbar .navbar-brand {
  font-size: 24px;
  font-family: "Dosis", "Helvetica", Arial, sans-serif;
  font-weight: 600;
  box-shadow: none;
  letter-spacing: 1px;
  opacity: 1;
}

.aa-header .aa-header-content {
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.navbar.navbar-transparent {
  padding-top: 0px;
}

@media (max-width: 992px) {
  .aa-header h1 {
    font-size: 38px;
  }
  .aa-header .aa-header-content img {
    padding-top: 40px;
  }
  .aa-header .aa-header-content li {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .aa-header .aa-header-content img {
    margin-top: 2px !important;
    padding-top: none !important;
    padding-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .aa-header .aa-logo-img {
    padding-left: 20px;
  }
  .aa-header .navbar-brand {
    padding-right: 20px !important;
  }
  .aa-header .aa-header-content li {
    font-size: 10px;
  }
}


/* Body Section */

.aa-product-details .description {
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.aa-product-details .description .h4 {
  color: #111111;
  padding-bottom: 1.5rem;
}

.aa-product-details .icon {
  float: left;
  margin-top: 24px;
  margin-right: 60px;
  font-size: 3rem;
}

@media only screen and (min-width: 769px) {
  .aa-screenshots {
    background-color: #F5FAFD;
  }
  .aa-screenshots .carousel-inner .carousel-item img {
    height: 600px;
    max-height: 600px;
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .aa-screenshots {
    background-color: #F5FAFD;
  }
  .aa-screenshots .carousel-inner .carousel-item img {
    height: 400px;
    max-height: 400px;
    width: 100%;
    max-width: 267px;
  }
}

.aa-price-package .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px -1px;
}

.aa-price-package .aa-price {
  padding-bottom: 1.5rem;
  background-color: #F5FAFD;
}

.aa-price-package .aa-price .btn {
  width: 8rem;
}

.aa-price-package .aa-price .aa-price-section {
  padding: 25px 5px;
  background-color: white;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  font-size: 28px;
  font-family: "Dosis", "Helvetica", Arial, sans-serif;
  font-weight: 600;
}

.aa-price-package .aa-price .aa-price-section span {
  font-family: "Dosis", "Helvetica", Arial, sans-serif;
  font-weight: 600;
  font-size: 38px;
}

.aa-price-package .aa-price ul li {
  line-height: 3;
  border-bottom: 1px dashed #eee;
}

.aa-price-package .aa-price-active {
  background-color: white;
}

.aa-price-package .aa-price-active .btn {
  border: none;
  padding-top: .65rem;
  padding-bottom: .65rem;
}

.aa-price-package .text-small {
  font-size: 90%;
  line-height: 3;
  opacity: 0.75;
}

.aa-price-package .text-small:hover {
  opacity: 1;
}

.aa-testimonials-section .aa-testimonials {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.aa-testimonials-section .aa-testimonials img {
  border-radius: 100%;
  width: 96px;
  height: auto;
}

.aa-testimonials-section .aa-testimonials .aa-testimonials-body {
  background-color: #F5FAFD;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px -4px;
}

.aa-testimonials-section .aa-testimonials .h5 {
  color: #111111;
}

@media (max-width: 992px) {
  .aa-testimonials-section .aa-testimonials .aa-testimonials-body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .aa-testimonials-section .aa-testimonials .aa-testimonials-body p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .aa-testimonials-section .aa-testimonials .aa-testimonials-body {
    text-align: center;
  }
  .aa-testimonials-section .aa-testimonials .aa-testimonials-body {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.aa-download-section i {
  color: #888;
}

.aa-download-section .aa-apple:hover i {
  color: #B4B0B0;
}

.aa-download-section .aa-android:hover i {
  color: #a4c639;
}

.aa-download-section .aa-windows:hover i {
  color: #0078d7;
}

.aa-download-section .aa-download-icon {
  padding-left: 40px;
}

@media (max-width: 992px) {
  .aa-download-section p {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  .aa-download-section p {
    font-size: 12px;
  }
  .aa-download-section .aa-download-icon {
    padding-left: 0px;
    text-align: center;
  }
  .aa-download-section .aa-download-icon-detail {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .aa-download-section p {
    font-size: 14px;
  }
}


/* Footer sectiom */

.footer-black {
  background-color: #252422;
  color: #DDDDDD;
}

.aa-footer a.credit {
  color: inherit;
  border-bottom: 1px dashed;
}


/* .slide-left.is-visible {
  animation: slideleft 1s ease-in-out both;
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
} */

.slide-right.is-visible {
  animation: slideright 1s ease-in-out both;
}

.slide-down {
  animation: slidedown 1s ease-in-out both;
}

@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.typewrite {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.inline-photo {
  opacity: 0;
  -webkit-transform: translateY(4em) rotateZ(-5deg);
  transform: translateY(4em) rotateZ(-5deg);
  -webkit-transition: opacity .3s .25s ease-out, -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
  transition: opacity .3s .25s ease-out, -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
  transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out, -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}

.border-text {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.dp-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.dp-slider div {
  transform-style: preserve-3d;
}

.dp_item {
  display: block;
  position: absolute;
  margin-left: auto;
  left: 0;
  right: 24%;
  text-align: center;
  transition: transform 1.2s;
}

@media (max-width: 768px) {
  .dp_item {
    right: 0;
  }
}

#dp-slider .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}

.dp_item[data-position="2"] {
  z-index: 9;
  transform: rotateY(0deg) translateX(9%) scale(0.9);
}

.dp_item[data-position="3"] {
  z-index: 8;
  transform: rotateY(0deg) translateX(17%) scale(0.8);
}

.dp_item[data-position="4"] {
  z-index: 7;
  transform: rotateY(0deg) translateX(24%) scale(0.7);
}

.dp_item[data-position="5"] {
  z-index: 6;
  transform: rotateY(0deg) translateX(30%) scale(0.6);
}

.dp_item[data-position="6"] {
  z-index: 5;
  transform: rotateY(0deg) translateX(35%) scale(0.5);
}

.dp_item[data-position="7"] {
  z-index: 4;
  transform: rotateY(0deg) translateX(39%) scale(0.4);
}

@media (max-width: 768px) {
  .dp_item[data-position="2"] {
    z-index: 9;
    transform: rotateY(0deg) translateX(5%) scale(0.9);
  }
  .dp_item[data-position="3"] {
    z-index: 8;
    transform: rotateY(0deg) translateX(9.5%) scale(0.8);
  }
  .dp_item[data-position="4"] {
    z-index: 7;
    transform: rotateY(0deg) translateX(13.5%) scale(0.7);
  }
  .dp_item[data-position="5"] {
    z-index: 6;
    transform: rotateY(0deg) translateX(17%) scale(0.6);
  }
  .dp_item[data-position="6"] {
    z-index: 5;
    transform: rotateY(0deg) translateX(20%) scale(0.5);
  }
  .dp_item[data-position="7"] {
    z-index: 4;
    transform: rotateY(0deg) translateX(22.5%) scale(0.4);
  }
}

#dp-next,
#dp-prev {
  position: absolute;
  top: 50%;
  height: 33px;
  width: 33px;
  z-index: 10;
  cursor: pointer;
}

#dp-prev {
  left: 15px;
  transform: rotate(180deg);
}

#dp-next {
  right: 15px;
}

#dp-dots {
  bottom: 25px;
  z-index: 12;
  cursor: default;
}

#dp-dots li {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

#dp-dots li:hover {
  cursor: pointer;
  background: #FA8C8C;
  transition: background .3s;
}

#dp-dots li {
  background: #fa8c8c36;
}

#dp-dots li.active {
  background: #FA8C8C;
}

.dp_item {
  align-items: center;
  overflow: hidden;
}

.dp-img:before {
  content: "";
  height: 100%;
  width: 25%;
  z-index: 1;
  top: 0;
  pointer-events: none;
}

.dp-img img {
  object-fit: cover;
  object-position: right;
}

#dp-slider,
.dp-img img {
  height: 700px;
}

#dp-slider .dp_item:hover:not(:first-child) {
  cursor: pointer;
}

div#banner {
  background-color: #121212;
}

.floating-card {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 100px;
  width: 320px;
  z-index: 9999;
  transition: all 1s ease-in-out;
}

.floating-card2 {
  position: fixed;
  bottom: 260px;
  right: 5px;
  height: 100px;
  width: 320px;
  z-index: 9999;
}

@media (max-width: 767px) {
  .floating-card2 {
    display: none;
  }
}